/packages/WxIntegrationTestClient/ns/wx/integrationTest/client/trigger/jmsControllerToAllClientsOfClusterTopicTrigger/node.ndf
/packages/WxIntegrationTestClient/ns/wx/integrationTest/client/trigger/jmsControllerToOneClientOfClusterTopicTrigger/node.ndf
